POSTGRES_DB=baby_subtitles
POSTGRES_USER=baby_subtitles
POSTGRES_PASSWORD=baby_subtitles_dev
POSTGRES_PORT=5432
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
MINIO_API_PORT=9000
MINIO_CONSOLE_PORT=9001
